<!-- Footer Start -->
<div class="container-fluid bg-secondary text-white mt-5 pt-5 px-sm-3 px-md-5">
  <div class="row pt-5">
    <div class="col-lg-3 col-md-6 mb-5 mr-auto">
      <a href="index.html" class="navbar-brand">
        <h2 class="m-0 mt-n2 text-white display-4 footer-brand">
          <img src="./assets/img/logo-limpiya7.png" width="70" alt="">
          <span class="text-primary">L</span>impiya
          <span class="text-primary">7</span>
        </h2>
      </a>
      <!-- <p>
        Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem
        sit sed elitr sed kasd et
      </p> -->
      <div class="d-flex justify-content-start mt-4">
        <a
          class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
          style="width: 38px; height: 38px"
          [href]="CONST.waLinkFooter"
          target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
        <a
          class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
          style="width: 38px; height: 38px"
          [href]="CONST.instagramProfile"
          target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h5 class="font-weight-bold text-primary mb-4">Enlaces rápidos</h5>
      <div class="d-flex flex-column justify-content-start">
        <a class="text-white mb-2" [routerLink]="PATHS.home"
          ><i class="fa fa-angle-right text-primary mr-2"></i>Inicio</a
        >
        <a class="text-white mb-2" [routerLink]="PATHS.aboutUs"
          ><i class="fa fa-angle-right text-primary mr-2"></i>Conócenos</a
        >
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h5 class="font-weight-bold text-primary mb-4">Contáctanos</h5>
      <p>Contáctanos para tener el gusto de atenderte</p>
      <p>
        <a
          [href]="CONST.addressGoogleMaps"
          target="_blank"
          class="link-unstyled"
        >
          <i class="fa fa-map-marker-alt text-primary mr-2"></i
          >{{ CONST.addressContact }}
        </a>
      </p>
      <p>
        <a
          [href]="'tel:' + CONST.cellphoneContact"
          target="_blank"
          class="link-unstyled"
        >
          <i class="fa fa-phone-alt text-primary mr-2"></i
          >{{ CONST.cellphoneContact }}
        </a>
      </p>
      <p>
        <a
          [href]="'mailto:' + CONST.emailContact"
          target="_blank"
          class="link-unstyled"
        >
          <i class="fa fa-envelope text-primary mr-2"></i
          >{{ CONST.emailContact }}
        </a>
      </p>
    </div>
  </div>
</div>
<!-- Footer Start -->
