$color-primary: #bfd0fb; // Azul claro
$color-dark-blue: #031079; // Azul oscuro intenso
$color-medium-blue: #39499f; // Azul medio
$color-light: #fdfdfe; // Blanco casi puro
$color-muted-blue: #95a1d0; // Azul grisáceo