<div
  class="container-fluid page-header d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5 mb-5"
>
  <h1 class="display-4 text-white mb-3 mt-0 mt-lg-5">Conócenos</h1>
  <!-- <div class="d-inline-flex text-white">
    <p class="m-0"><a class="text-white" href="">Home</a></p>
    <p class="m-0 px-2">/</p>
    <p class="m-0">Servicio accesible pensado para ti</p>
  </div> -->
</div>
<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center pb-1">
      <div class="col-lg-5">
        <img
          class="img-thumbnail p-3"
          src="https://images.cdn-files-a.com/ready_uploads/media/1898/800_5cc9a5021541a.jpg"
          alt=""
        />
      </div>
      <div class="col-lg-7 mt-5 mt-lg-0">
        <!-- <small class="bg-primary text-white text-uppercase font-weight-bold px-1">¿Quiénes somos?</small> -->
        <h2 class="mt-2 mb-4">¿Quiénes somos?</h2>
        <p class="mb-4">
          Somos una empresa joven dedicada a brindar servicios accesibles y
          personalizados, diseñados para adaptarse a las necesidades
          individuales de cada cliente. Nuestro compromiso es asegurar la
          satisfacción de nuestros clientes a través de soluciones innovadoras y
          atención cercana.
        </p>
        <!-- <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">Read More</a> -->
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div
          class="d-flex align-items-center border mb-4 mb-lg-0 p-4"
          style="height: 120px"
        >
          <i class="fa fa-2x fa-map-marker-alt text-primary mr-3"></i>
          <div class="d-flex flex-column">
            <h5 class="font-weight-bold">Oficina</h5>
            <a
              [href]="CONST.addressGoogleMaps"
              target="_blank"
              class="m-0 link-unstyled"
              >{{ CONST.addressContact }}</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="d-flex align-items-center border mb-4 mb-lg-0 p-4"
          style="height: 120px"
        >
          <i class="fa fa-2x fa-envelope-open text-primary mr-3"></i>
          <div class="d-flex flex-column">
            <h5 class="font-weight-bold">Correo</h5>
            <a
              [href]="'mailto:' + CONST.emailContact"
              target="_blank"
              class="m-0 link-unstyled"
              >{{ CONST.emailContact }}</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="d-flex align-items-center border mb-4 mb-lg-0 p-4"
          style="height: 120px"
        >
          <i class="fas fa-2x fa-phone-alt text-primary mr-3"></i>
          <div class="d-flex flex-column">
            <h5 class="font-weight-bold">Teléfono</h5>
            <a
              [href]="'tel:' + CONST.cellphoneContact"
              target="_blank"
              class="m-0 link-unstyled"
              >{{ CONST.cellphoneContact }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="container pt-0 pt-lg-5 mb-5 team-section">
  <h2 class="mt-2 mb-4 text-center">Equipo</h2>
  <swiper-container
    #swiper
    class="swiper"
    pagination="true"
    autoplay="true"
    pagination-clickable="true"
    navigation="true"
    loopAddBlankSlides="true"
    autoplay-delay="3500"
    loopedSlides="1"
  >
    @for (slide of slides; track slide; let i = $index) {
    <swiper-slide>
      <div class="team-section__quote">
        <p class="text-center">
          {{ slide.description }}
        </p>
        <p class="text-center">
          <strong>{{ slide.name }}</strong> {{ slide.role }}
        </p>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</section>
